html, body {
  margin: 0;
  padding: 0;
  background-color: black;
}
canvas {
  display: block;
}
nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px; /* Add padding for spacing */
  padding-left: 25px;
  padding-right: 25px;
}

.logo {
  width: 100px; /* Adjust width as needed */
}

.button-container {
  display: flex;
}

.button {
  background-color: #145deb; /* Blue color */
  color: white;
  line-height: 1.5;
  padding: 10px 20px;
  border: none;
  border-color: #145deb;
  
  cursor: pointer;
  margin-left: 10px; /* Add spacing between buttons */

  font-family: Roboto, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  border-radius: .25rem;
  letter-spacing: .005rem;

}

.button-secondary {
  background-color: rgba(20,93,235,.1); /* Blue color */
  color: #145deb;
  padding: 10px 20px;
  line-height: 1.5;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(20,93,235,.5);
  cursor: pointer;
  margin-left: 10px; /* Add spacing between buttons */

  font-family: Roboto, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  border-radius: .25rem;
  letter-spacing: .005rem;
}